:root {
  --dark-violet: #3a3053;
  --very-dark-violet: #232127;
  --grayish-violet: #9e9aa7;
  --gray-color: #f0f1f6;
  --very-dark-blue: #35323e;
  --cyan-color: #2acfcf;
  --red-color: #f46262;
}

body {
  background-color: white;
  max-width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

main {
  background-color: var(--gray-color);
}

h1 {
  font-size: 64px;
  margin: 0;
  line-height: 10vh;
}

h3 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 20px;
}

p {
  color: var(--grayish-violet);
  font-weight: 400;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

nav,
.firstSection,
.linkStyle,
.result,
.statList,
.footWrap {
  width: 70%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--cyan-color);
  border-radius: 45px;
  border: 1px solid var(--cyan-color);
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.btn:hover {
  cursor: pointer;
}

.btnAterClick {
  background-color: #9be3e2;
  border: 1px solid #9be3e2;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vh 0;
}

.menu {
  flex: 2;
  display: flex;
}

.menuItem a {
  padding: 0 2vh;
  color: var(--grayish-violet);
}

.menuItem a:hover {
  color: var(--dark-violet);
}

.menuMobile {
  width: 3vh;
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuLine {
  width: 3vh;
  height: 4px;
  background-color: var(--grayish-violet);
  display: none;
}

.listMobile {
  display: none;
  width: 90%;
  text-align: center;
  background-color: var(--dark-violet);
  padding: 3vh 0;
  margin: 2vh auto;
  border-radius: 15px;
}

.listMobile div {
  margin: 2vh 0;
}

.mobLine {
  width: 90%;
  height: 1px;
  background-color: var(--grayish-violet);
  margin: 3vh auto;
}

.btnMob {
  background-color: var(--cyan-color);
  border-radius: 25px;
  border: 1px solid var(--cyan-color);
  color: white;
  font-weight: bold;
  width: 90%;
  padding: 2vh 0;
}

.linkStyle {
  background-color: #3a3053;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: cover;
  border-radius: 15px;
}

.inputFlex {
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 5vh 5vh 5vh;
}

#inputSearch {
  flex: 5;
  border-radius: 14px;
  padding: 1rem 1rem;
  max-width: 100%;
}

#search {
  border-radius: 14px;
  flex: 1;
  width: 100%;
  margin-left: 1vh;
}

label {
  display: none;
  color: var(--red-color);
  position: absolute;
  padding: 0 2rem;
  margin-top: -5vh;
}

.resultWrap {
  margin: 2vh auto;
}

.resultItem {
  background-color: white;
  margin: 2vh auto;
  padding: 2vh;
  border-radius: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  flex: 6;
  word-wrap: break-word;
  max-width: 100%;
}

.newLink {
  flex: 1;
  word-wrap: break-word;
  margin-right: 2vh;
  color: var(--cyan-color);
}
.copy {
  border-radius: 14px;
  flex: 1;
}

.center {
  text-align: center;
  align-items: center;
}

.statList {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh auto;
}

.statItem {
  background-color: white;
  padding: 3vh;
  border-radius: 14px;
  height: 100%;
  flex: 1;
}

.statItem:nth-child(2) {
  margin: 5vh 2vh 0 2vh;
}

.statItem:nth-child(3) {
  margin-top: 10vh;
}

.statImg {
  border-radius: 50% 50%;
  height: 8vh;
  width: 8vh;
  background-color: var(--dark-violet);
  text-align: center;
  display: flex;
  margin-top: -6vh;
}

.statImg img {
  padding: 2vh;
}

.boost {
  text-align: center;
  background-color: var(--dark-violet);
  background-image: url("../images/bg-boost-desktop.svg");
  padding: 10vh 0;
  color: white;
  background-size: cover;
}

.btnBoost {
  margin: 3vh 0;
}

footer {
  background-color: var(--very-dark-violet);
}

.footWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 3vh 0;
}

.footListItem {
  padding: 1vh 0;
  font-weight: 100;
  color: var(--grayish-violet);
}

.footListItem:hover {
  color: var(--cyan-color);
}

.footBold {
  padding: 0 0 2vh 0;
  font-weight: 700;
}

.logoFoot,
.contacts a {
  padding: 0 1vh;
}
