:root {
  --dark-violet: #3a3053;
  --very-dark-violet: #232127;
  --grayish-violet: #9e9aa7;
  --gray-color: #f0f1f6;
  --very-dark-blue: #35323e;
  --cyan-color: #2acfcf;
  --red-color: #f46262;
}

@media (max-width: 892px) {
  .menu,
  .menuButtons {
    display: none !important;
  }

  .menuMobile {
    display: flex;
  }
}

@media (max-width: 639px) {
  #inputSearch {
    margin: 0 0 4vh 0 !important;
  }
  #search {
    margin: 0;
    width: 100%;
  }
  label {
    margin: -16vh 0 0 2vh !important;
  }

  .footWrap {
    display: block !important;
    text-align: center;
  }
  .logoFoot,
  .contacts {
    margin: 4vh 0;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 16px !important;
  }

  .btn {
    font-size: 14px !important;
  }
  .firstSection {
    flex-direction: column-reverse;
  }

  .leftSide {
    margin: 2vh !important;
    text-align: center;
  }

  .resultItem {
    display: block !important;
    align-items: flex-start !important;
    padding: 0px !important;
  }

  .link {
    border-bottom: 1px solid var(--gray-color);
    width: auto;
    padding: 2vh !important;
  }
  .newLink {
    padding: 2vh !important;
  }
  .copy {
    margin: 1vh !important;
    width: 90%;
  }

  .statItem {
    margin: 3vh 0 !important;
    min-width: 70%;
    text-align: center;
    align-items: center;
  }

  .statistics p {
    width: 70%;
    margin: 0 auto;
    padding: 2vh 0;
  }

  .line {
    background-color: var(--cyan-color);
    margin-left: 49% !important;
    padding: 0 0px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    height: 130%;
    width: 1vh !important;
  }
}

html,
body {
  background-color: white;
  max-width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

main {
  background-color: var(--gray-color);
  margin: 10vh auto 0 auto;
}

h1 {
  font-size: 64px;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 20px;
}

p {
  color: var(--grayish-violet);
  font-weight: 400;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

nav,
.linkStyle,
.result,
.statList,
.footWrap {
  width: 70%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--cyan-color);
  border-radius: 45px;
  border: 1px solid var(--cyan-color);
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.btn:hover {
  cursor: pointer;
}

.btnAterClick {
  background-color: #9be3e2;
  border: 1px solid #9be3e2;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vh 0;
}

.menu {
  flex: 2;
  display: flex;
}

.menuItem a {
  padding-left: 3vh;
  color: var(--grayish-violet);
}

.menuItem a:hover {
  color: var(--dark-violet);
}

.menuButtons a {
  padding: 0 2vh;
  color: var(--grayish-violet);
}

.menuButtons a:hover {
  color: var(--dark-violet);
}

.menuMobile {
  width: 4vh;
  height: 4vh;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.menuLine {
  width: 5vh;
  display: inline;
  height: 3px;
  background-color: var(--grayish-violet);
}

.listMobile {
  display: none;
  width: 90%;
  text-align: center;
  background-color: var(--dark-violet);
  padding: 3vh 0;
  margin: 2vh auto;
  border-radius: 15px;
}

.listMobile div {
  margin: 2vh 0;
  font-weight: 700;
}

.mobLine {
  width: 90%;
  height: 1px;
  background-color: var(--grayish-violet);
  margin: 3vh auto;
}

.btnMob {
  background-color: var(--cyan-color);
  border-radius: 25px;
  border: 1px solid var(--cyan-color);
  color: white;
  width: 90%;
  padding: 2vh 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.firstSection {
  display: flex;
  height: 100%;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 10vh;
}

.leftSide {
  margin-left: 15%;
  z-index: 10;
  max-width: 100%;
}

.leftSide,
.rightSide {
  height: 100%;
  flex: 1;
  align-items: center;
}

.leftSide > p {
  padding: 0 0 2vh 0;
}

.rightSide img {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 2vh;
}

.inputStyle {
  display: flex;
}

.linkStyle {
  margin: 0 auto;
  background-color: #3a3053;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: cover;
  border-radius: 15px;
  margin-top: -5%;
}

.inputFlex {
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 5vh 5vh 5vh;
}

#inputSearch {
  border-radius: 14px;
  padding: 1rem 1rem;
  max-width: 100%;
  flex: 1;
  margin-right: 1vh;
}

#search {
  border-radius: 14px;
  margin-left: auto;
}

label {
  display: none;
  color: var(--red-color);
  position: absolute;
  padding: 0 2rem;
  margin: -5vh 0 0 2vh;
  font-size: 14px;
}

.resultWrap {
  margin: 2vh auto;
}

.resultItem {
  background-color: white;
  margin: 3vh auto;
  padding: 0vh;
  border-radius: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vh;
}

.link {
  flex: 6;
  word-wrap: break-word;
  max-width: 100%;
}

.newLink {
  flex: 1;
  word-wrap: break-word;
  margin-right: 2vh;
  color: var(--cyan-color);
}
.copy {
  border-radius: 14px;
  flex: 1;
  padding: 0.8rem 1rem;
}

.center {
  text-align: center;
  align-items: center;
}

.statistics {
  margin: 5vh 0;
}

.statList {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh auto;
  justify-content: space-between;
}

.statItem {
  background-color: white;
  padding: 3vh;
  border-radius: 14px;
  height: 100%;
  flex: 1;
  z-index: 1000;
  margin: 1vh;
  display: flex;
  flex-direction: column;
}

.statItem:nth-child(2) {
  margin-top: 5vh;
}

.statItem:nth-child(3) {
  margin-top: 10vh;
}

.statImg {
  border-radius: 50% 50%;
  height: 10vh;
  width: 10vh;
  background-color: var(--dark-violet);
  margin-top: -6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statImg img {
  padding: 5vh;
}

.line {
  background-color: var(--cyan-color);
  margin-left: 20%;
  margin-top: 20vh;
  padding: 3px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  width: 50%;
}

.boost {
  text-align: center;
  background-color: var(--dark-violet);
  background-image: url("../images/bg-boost-desktop.svg");
  padding: 10vh 0;
  color: white;
  background-size: cover;
}

.btnBoost {
  margin: 3vh 0;
}

footer {
  background-color: var(--very-dark-violet);
}

.footWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 3vh 0;
}

.footListItem {
  padding: 1vh 0;
  font-weight: 100;
  color: var(--grayish-violet);
}

.footListItem:hover {
  color: var(--cyan-color);
}

.footBold {
  padding: 0 0 2vh 0;
  font-weight: 700;
}

.logoFoot,
.contacts a {
  padding: 0 1vh;
}

.logoFoot svg path {
  fill: white;
}

.contacts svg path:hover {
  fill: var(--cyan-color);
}
